@import 'bulma/css/bulma-rtl.min.css';

*{
    font-family: 'Manrope', sans-serif;
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
    height:100vh!important;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

.navbar-item:hover{
    background:transparent!important;
}

.is-fixed-top{
    top:25px!important;
    right:100px!important;
    left:100px!important;
}

@media(max-width:480px){
    .is-fixed-top{
        right:0px!important;
        left:0px!important;
        top:0!important;
    }
}

.text{
    filter: 
    drop-shadow(-1px -1px 0px var(--button))
    drop-shadow(1px -1px 0px var(--button))
    drop-shadow(-1px 1px 0px var(--button))
    drop-shadow(1px 1px 0px var(--button));
    width:28px;
}

@media(max-width:580px){
    .text{
        width:15px;
    }
}

.f-weight-4{
    font-weight:400;
}   

.f-weight-7{
    font-weight:700;
}

.h100{
    height:98vh;
}

.is-absolute{
    position:absolute!important;
    width:100vw;
    z-index:998!important;
}

.navbar{
    background:transparent!important;
}

.navbar-end{
    margin-right:0!important;
}

.navbar-start{
    padding-left:110px;
}

@media(max-width:990px){
    .navbar-start{
        padding-left:0px;
    }
}

.great-coffee{
    margin-top:4.2rem;
    // z-index:900!important;
}

@media (max-width:480px){
    .great-coffee{
        margin-top:0rem;
        // z-index:998!important;
    }
}

.is-active{
    background:transparent!important;
    z-index:1000;
}

.is-outlined{
    border:2px solid var(--button) !important;
}

.is-link:hover{
    background-color:var(--button)!important;
}

.navbar-burger{
    margin:auto 0 auto auto!important;
}

.h1{
    font-size:4.5rem!important;
}

@media(max-width:590px){
    .h1{
        font-size:2rem!important;
    }
}

.h1-shadow {
    font-size:4.5rem;
    color:#000!important;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.element-1{
    transform:rotate(180deg);
}

@media(max-width:590px){
    .h1-shadow {
        font-size:2rem!important;
    }
}

.img-cup{
    width:640px;
    // z-index:970;
}

@media (min-width:410px) and (max-width:756px){
    .is-flex-mobile-custom{
        display:none!important;
    }
    .columns{
        z-index:999;
    }
}

@media (max-width:414px){
    .is-flex-mobile-custom{
        display:flex!important;
    }
}

@media (min-width:756px) and (max-width:768px){
    .is-flex-mobile-custom{
        display:none!important;
    }
}

.text-mobile {
    margin-top:91px;
}

.button-mobile {
    margin-top:63px;
}

@media (min-width:420px){
    .columns-custom{
        display:none!important;
    }
}

@media (max-width:420px){
    .navbar{
        background-color:#0A0A0A!important;
        border-bottom:1px solid var(--border);
    }
    .blur-mobile{
        height:100vh;
    }
    .navbar-burger{
        margin:18px 0 auto auto!important;
    }
    .navbar-menu{
        height:100vh;
        z-index:999;
    }
    .navbar-item{
        border:1px solid var(--border);
    }
    .navbar-item:hover{
        font-weight:700;

        border-left:8px solid var(--button);
    }

    .navbar-item-active{
        font-weight:700;
        border-left:8px solid var(--button);
    }

    .navbar-brand .navbar-item{
        border:0;
    }

    .navbar-brand .navbar-item:hover{
        border:0;
    }
}

@media (max-width:320px){
    .h100{
        height:100vh;
    }
    
    .text-mobile {
        margin-top:64px;
        font-size:1.3rem!important;
    }
    
    .button-mobile {
        margin-top:32px;
    }

    .great-coffee{
        padding-top:0rem;
    }

    .img-cup{
        // width:260px;
        margin-top:33px;
    }
}

@media(max-width:768px){
    .navbar{
        background-color:#0A0A0A!important;
    }
}

@media (max-width:1005px){
    .navbar{
        background-color:#0A0A0A!important;
    }
    .navbar-start {
        padding-left: 0px;
    }
}