@import 'bulma/css/bulma-rtl.min.css';

*{
    font-family: 'Manrope', sans-serif;
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
    height:150vh!important;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

.navbar-item:hover{
    background:transparent!important;
}

.text{
    filter: 
    drop-shadow(-1px -1px 0px var(--button))
    drop-shadow(1px -1px 0px var(--button))
    drop-shadow(-1px 1px 0px var(--button))
    drop-shadow(1px 1px 0px var(--button));
    width:20px;
}

@media(max-width:580px){
    .text{
        width:20px;
    }
}

.f-weight-4{
    font-weight:400;
}   

.f-weight-7{
    font-weight:700;
}

.h100{
    height:98vh;
}

.is-absolute{
    position:absolute!important;
    width:100vw;
}

.navbar{
    background:transparent!important;
}

.navbar-end{
    margin-right:0!important;
}

.navbar-start{
    padding-left:110px;
}

@media(max-width:990px){
    .navbar-start{
        padding-left:0px;
    }
}

.is-active{
    background:transparent!important;
}

.is-outlined{
    border:2px solid var(--button) !important;
}

.is-link:hover{
    background-color:var(--button)!important;
}

.navbar-burger{
    margin:auto 0 auto auto!important;
}

.h1{
    font-size:4.5rem!important;
}

@media(max-width:590px){
    .h1{
        font-size:2rem!important;
    }
}

.h1-shadow {
    font-size:4.5rem;
    color:#000!important;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.element-1{
    transform:rotate(180deg);
}

@media(max-width:590px){
    .h1-shadow {
        font-size:2rem!important;
    }
}

.img-cup{
    width:640px;
}

@media (min-width:410px) and (max-width:756px){
    .is-flex-mobile-custom{
        display:none!important;
    }
}

@media (max-width:413px){
    .is-flex-mobile-custom{
        display:flex!important;
    }
}

@media (min-width:756px) and (max-width:768px){
    .is-flex-mobile-custom{
        display:none!important;
    }
}